{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dailyapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navbar-fixed z-depth-2">
        <nav>
            <div class="nav-wrapper deep-orange darken-4">
                <div class="container">
                    <a href="{% url 'dailyapp:main_view' %}" class="brand-logo center">Daily app</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="{% url 'dailyapp:week_history' %}">Historia</a></li>
                        <li><a href="{% url 'dailyapp:stats_view' %}">Statystyki</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container box z-depth-4">
        {% block content %}
        {% endblock %}
    </div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="{% static 'scripts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</body>
</html>