{% extends 'dailyapp/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <table>
        <thead>
            <tr>
                <th>Tydzień</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>Avg</th>
            </tr>
        </thead>
        <tbody>
    {% for week in weeks %}
    <tr>
        <td>{{ week }}</td>
        {% for day in week.day_set.all %}
            <td>{{ day.weight }} kg</td>
        {% endfor %}
        <td>
            {{ week.average_weight }} kg
        </td>
    {% endfor %}
    </tr>
    </tbody>
    </table>
</div>
{% endblock %}